In [38]:
import pandas as pd
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [39]:
#Dropped columns which have no real effect on the output we desire

df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

In [40]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [41]:
#Segregating survived columns as our target column for this problem
target = df.Survived
inputs = df.drop('Survived',axis='columns')

In [42]:
#Removing text areas in Male and Female columns using dummy variables
dummies = pd.get_dummies(inputs.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [43]:
#Adding dummy variables to the original dataframe
inputs = pd.concat([inputs,dummies],axis='columns')

In [44]:
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [45]:
#Now that we have our dummy variables, we don't need the Sex column which contains Male and female text values. So we drop it

inputs.drop('Sex',axis='columns',inplace=True)

In [46]:
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [47]:
#Finding values in the dataframe that might be NaN or not numeric

inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [48]:
#Finding NaN values
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [49]:
#Filling the NaN value with the mean of the column
inputs.Age = inputs.Age.fillna(inputs.Age.mean())

In [50]:
inputs.head(10)

   Pclass        Age     Fare  female  male
0       3  22.000000   7.2500       0     1
1       1  38.000000  71.2833       1     0
2       3  26.000000   7.9250       1     0
3       1  35.000000  53.1000       1     0
4       3  35.000000   8.0500       0     1
5       3  29.699118   8.4583       0     1
6       1  54.000000  51.8625       0     1
7       3   2.000000  21.0750       0     1
8       3  27.000000  11.1333       1     0
9       2  14.000000  30.0708       1     0

In [51]:
import sklearn
print(sklearn.__version__)

0.23.2

In [52]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [53]:
len(X_train)

712

In [55]:
len(X_test)

179

In [58]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [59]:
model.fit(X_train, y_train)

GaussianNB()

In [60]:
model.score(X_test, y_test)

0.7597765363128491

819    0
445    1
876    0
465    0
637    0
198    1
82     1
500    0
602    0
692    1
Name: Survived, dtype: int64

In [64]:
model.predict_proba(X_test[:10])

array([[0.98502443, 0.01497557],
       [0.59220128, 0.40779872],
       [0.98906458, 0.01093542],
       [0.99123552, 0.00876448],
       [0.97924293, 0.02075707],
       [0.07138377, 0.92861623],
       [0.07139584, 0.92860416],
       [0.9882536 , 0.0117464 ],
       [0.91568437, 0.08431563],
       [0.98236606, 0.01763394]])